
{% extends 'layout/base.twig' %}


{% block stylesheet %}
   <link rel="stylesheet" href="/assets/home.css">
{% endblock %}

{% block content %}
	

			<main>
				<section class="banner">
					<div class="highlight">
						<div class="columns">
							<div class="column highlight-item" style="background-image: url({{highlight.url }})">
							<h1>{{ highlight.title }}</h1>
							</div>
					</div>
				</div>
					<div class="thumbnail">
					<div class="columns is-marginless">
					 {% for item in thumbnail %}
					<div class="column thumbnail-item is-paddingless"  style="background-image: url({{ item.url }});">
					  {{ item.title }}
					</div>
					{% endfor %}
				</div>
			</div>	

				<section class="section we-preset">
				<div class="container">
					<div class="columns">
						<div class="column has-text-left">
						<a href="#">LASTET</a></div>
						<div class="column has-text-centered">
						WE PRESENT</div>
							<div class="column has-text-right">
							<a href="#">SEARCH</a></div>	
						
					</div>
					
				</div>
				 <div class="columns is-multiline">
				 	<a href="#" class="column is-one-third">
				 		<div class="card">
				 		<div class="card-imge">
				 			<figure class="images is-3by2">
				 				<img src="assets/images/home/we-preset/img-1.jpg" alt"image-1">
				 			</figure>
				 		</div>
				 		<div class="card-content"> 
				 		 <h5 class="category">PUblic Spaace</h5>
				 			<h3 class="title is-spaced is-4">
				 				Losem ipsum dolor sit amet, consectetor.
				 			</h3>
				 			<h4 class="subtitle is-6">
				 				เรื่องบดินทร์ ศุพธิปกรณ์ตุล
				 			</h4>
				 			<p>โค้ดสี ที่ละเอียดที่สุดมากที่สุด มีให้เลือกแบบหลากหลายแบบ เหมาะสำหรับใช้ในการแต่งสีในโปรแกรมทุกโปรแกรม ตารางรหัสสี อ้างอิงตามเลขฐาน 16 ในรูปแบบ R G B หรือ รหัสผสมสีของ แดง-เขียว-น้ำเงิน ใช้ตัวเลข 0-9 และตัวหนังสือ A-F ได้สีมากถึง 14 ล้านสี รวมโค้ดสี สำหรับแต่ง website.
				 			</p>
				 		</div>
				 </div>
                  </a>
                  <a href="#" class="column is-one-third">
				 		<div class="card">
				 		<div class="card-imge">
				 			<figure class="images is-3by2">
				 				<img src="assets/images/home/we-preset/img-2.jpg" alt"image-1">
				 			</figure>
				 		</div>
				 		<div class="card-content"> 
				 		 <h5 class="category">PUblic Spaace</h5>
				 			<h3 class="title is-spaced is-4">
				 				Losem ipsum dolor sit amet, consectetor.
				 			</h3>
				 			<h4 class="subtitle is-6">
				 				เรื่องบดินทร์ ศุพธิปกรณ์ตุล
				 			</h4>
				 			<p>โค้ดสี ที่ละเอียดที่สุดมากที่สุด มีให้เลือกแบบหลากหลายแบบ เหมาะสำหรับใช้ในการแต่งสีในโปรแกรมทุกโปรแกรม ตารางรหัสสี อ้างอิงตามเลขฐาน 16 ในรูปแบบ R G B หรือ รหัสผสมสีของ แดง-เขียว-น้ำเงิน ใช้ตัวเลข 0-9 และตัวหนังสือ A-F ได้สีมากถึง 14 ล้านสี รวมโค้ดสี สำหรับแต่ง website.
				 			</p>
				 		</div>
				 </div>
                  </a>
                  <a href="#" class="column is-one-third">
				 		<div class="card">
				 		<div class="card-imge">
				 			<figure class="images is-3by2">
				 				<img src="assets/images/home/we-preset/img-3.jpg" alt"image-1">
				 			</figure>
				 		</div>
				 		<div class="card-content"> 
				 		 <h5 class="category">PUblic Spaace</h5>
				 			<h3 class="title is-spaced is-4">
				 				Losem ipsum dolor sit amet, consectetor.
				 			</h3>
				 			<h4 class="subtitle is-6">
				 				เรื่องบดินทร์ ศุพธิปกรณ์ตุล
				 			</h4>
				 			<p>โค้ดสี ที่ละเอียดที่สุดมากที่สุด มีให้เลือกแบบหลากหลายแบบ เหมาะสำหรับใช้ในการแต่งสีในโปรแกรมทุกโปรแกรม ตารางรหัสสี อ้างอิงตามเลขฐาน 16 ในรูปแบบ R G B หรือ รหัสผสมสีของ แดง-เขียว-น้ำเงิน ใช้ตัวเลข 0-9 และตัวหนังสือ A-F ได้สีมากถึง 14 ล้านสี รวมโค้ดสี สำหรับแต่ง website.
				 			</p>
				 		</div>
				 </div>
                  </a>
                  <a href="#" class="column is-one-third">
				 		<div class="card">
				 		<div class="card-imge">
				 			<figure class="images is-3by2">
				 				<img src="assets/images/home/we-preset/img-4.jpg" alt"image-1">
				 			</figure>
				 		</div>
				 		<div class="card-content"> 
				 		 <h5 class="category">PUblic Spaace</h5>
				 			<h3 class="title is-spaced is-4">
				 				Losem ipsum dolor sit amet, consectetor.
				 			</h3>
				 			<h4 class="subtitle is-6">
				 				เรื่องบดินทร์ ศุพธิปกรณ์ตุล
				 			</h4>
				 			<p>โค้ดสี ที่ละเอียดที่สุดมากที่สุด มีให้เลือกแบบหลากหลายแบบ เหมาะสำหรับใช้ในการแต่งสีในโปรแกรมทุกโปรแกรม ตารางรหัสสี อ้างอิงตามเลขฐาน 16 ในรูปแบบ R G B หรือ รหัสผสมสีของ แดง-เขียว-น้ำเงิน ใช้ตัวเลข 0-9 และตัวหนังสือ A-F ได้สีมากถึง 14 ล้านสี รวมโค้ดสี สำหรับแต่ง website.
				 			</p>
				 		</div>
				 </div>
                  </a>
                  <a href="#" class="column is-one-third">
				 		<div class="card">
				 		<div class="card-imge">
				 			<figure class="images is-3by2">
				 				<img src="assets/images/home/we-preset/img-5.jpg" alt"image-1">
				 			</figure>
				 		</div>
				 		<div class="card-content"> 
				 		 <h5 class="category">PUblic Spaace</h5>
				 			<h3 class="title is-spaced is-4">
				 				Losem ipsum dolor sit amet, consectetor.
				 			</h3>
				 			<h4 class="subtitle is-6">
				 				เรื่องบดินทร์ ศุพธิปกรณ์ตุล
				 			</h4>
				 			<p>โค้ดสี ที่ละเอียดที่สุดมากที่สุด มีให้เลือกแบบหลากหลายแบบ เหมาะสำหรับใช้ในการแต่งสีในโปรแกรมทุกโปรแกรม ตารางรหัสสี อ้างอิงตามเลขฐาน 16 ในรูปแบบ R G B หรือ รหัสผสมสีของ แดง-เขียว-น้ำเงิน ใช้ตัวเลข 0-9 และตัวหนังสือ A-F ได้สีมากถึง 14 ล้านสี รวมโค้ดสี สำหรับแต่ง website.
				 			</p>
				 		</div>
				 </div>
                  </a>
                  <a href="#" class="column is-one-third">
				 		<div class="card">
				 		<div class="card-imge">
				 			<figure class="images is-3by2">
				 				<img src="assets/images/home/we-preset/img-6.jpg" alt"image-1">
				 			</figure>
				 		</div>
				 		<div class="card-content"> 
				 		 <h5 class="category">PUblic Spaace</h5>
				 			<h3 class="title is-spaced is-4">
				 				Losem ipsum dolor sit amet, consectetor.
				 			</h3>
				 			<h4 class="subtitle is-6">
				 				เรื่องบดินทร์ ศุพธิปกรณ์ตุล
				 			</h4>
				 			<p>โค้ดสี ที่ละเอียดที่สุดมากที่สุด มีให้เลือกแบบหลากหลายแบบ เหมาะสำหรับใช้ในการแต่งสีในโปรแกรมทุกโปรแกรม ตารางรหัสสี อ้างอิงตามเลขฐาน 16 ในรูปแบบ R G B หรือ รหัสผสมสีของ แดง-เขียว-น้ำเงิน ใช้ตัวเลข 0-9 และตัวหนังสือ A-F ได้สีมากถึง 14 ล้านสี รวมโค้ดสี สำหรับแต่ง website.
				 			</p>
				 		</div>
				 </div>
                  </a>
              </div>
				</section>
				
			</main>
		{% endblock %}


	